<%= form_for item , html: { multipart: true } do |f| %>
 

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :images %>
    <%= f.file_field :avatars, multiple: true%>
  </div>

  <div class="field">
    <%= f.label :availability %>
    <%= f.check_box :availability %>
  </div>

  <div class="field">
    <%= f.label :provider %>
    <%= f.text_field :provider %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
